<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StackingMESLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <StackingMESLogger.Properties.Settings>
            <setting name="LastCOM" serializeAs="String">
                <value />
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMachine" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="LastModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBarcodeQty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastBarcodeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBarcodeLength" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="LogCopyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtLogCopyPath" serializeAs="String">
                <value />
            </setting>
        </StackingMESLogger.Properties.Settings>
    </userSettings>
</configuration>